<div id="editcontainer" class="editForm">
	<h1 class="banner">Edit Your Profile</h1>	

	<% if flash[:edit_errors] %>
		<ul>
			<% flash[:edit_errors].each do |msg| %>
				<li class="error"><%= msg %></li>
			<% end %>
		</ul>
	<% end %>

	<form action="/events/<%= @event.id %>" method="POST">
		<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
		<input name="_method" value="patch" type="hidden">
		<br>
		<div class="row">
			<label for="name">Name:</label>
			<input type="text" name="event[name]" value="<%= @event.name %>"><br>
		</div>

		<div class="row">
			<label for="date">Date:</label>
			<input type="date" name="event[date]" value="<%= @event.date %>"><br>
		</div>

		<div class="row">
			<label for="location">Location:</label>
			<input type="text" name="event[location]" id="locationinput" value="<%= @event.location %>">
			<%= collection_select(:event, :state_id, State.all, :id, :state_initials) %>
		</div>

		<div class="row">
			<input type="submit" value="Update Event" name="Update Event" class="btn">
		</div>
	</form>

</div>